<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../abas-erp-command-builder/abas-erp-command-builder.html">

<link rel="import" href="../abas-localize-mixin/abas-localize-mixin.html">
<link rel="import" href="../abas-database-picker/abas-database-picker.html">

<link rel="import" href="../l2t-paper-color/l2t-paper-color.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">


<dom-module id="abas-total-display-widget-settings">
    <template>

        <style is="custom-style">
            :host {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: flex-start;
                overflow-y: auto;
                padding: 5px;
            }

            paper-card {
                flex: 1 0 200px;
                margin: 5px;
            }
        </style>

        <paper-card>
            <div class="card-content">
                <h3>[[localize('general')]]</h3>
                <paper-input label="[[localize('title')]]" type="text" on-change="titleChanged" value="{{title}}">
                </paper-input>
                <abas-erp-command-builder label="[[localize('action')]]" command-display="{{actionURL}}"
                    settings="{{action}}"></abas-erp-command-builder>
                <paper-input label="[[localize('erpCompany')]]" on-change="companyChanged" type="text"
                    value="{{company}}"></paper-input>
                <abas-database-picker company="[[company]]" selection="{{db}}" label="[[localize('database')]]">
                </abas-database-picker>
                <paper-input label="[[localize('messageBus')]]" on-change="messageBusChanged" type="text"
                    value="{{messageBus}}"></paper-input>
                <l2t-paper-color hide-advanced label="[[localize('topBarColor')]]" value="{{topBarColor}}">
                </l2t-paper-color>
            </div>
        </paper-card>
        <paper-card>
            <div class="card-content">
                <h3>[[localize('mainValue')]]</h3>
                <paper-input label="[[localize('selection')]]" on-change="selectionChanged" type="text"
                    value="{{selection}}"></paper-input>
                <paper-input label="[[localize('criteria')]]" on-change="criteriaChanged" type="text"
                    value="{{criteria}}"></paper-input>
                <paper-input label="[[localize('variable')]]" on-change="variableChanged" type="text"
                    value="{{variable}}"></paper-input>
                <l2t-paper-color hide-advanced label="[[localize('color')]]" value="{{color}}" on-change="colorChanged">
                </l2t-paper-color>
            </div>
        </paper-card>
        <paper-card>
            <div class="card-content">
                <h3>[[localize('threshold')]]</h3>
                <paper-input label="[[localize('thresholdValue')]]" on-change="thresholdValueChanged" type="number"
                    value="{{thresholdValue}}"></paper-input>
                <l2t-paper-color hide-advanced label="[[localize('thresholdColor')]]" value="{{thresholdColor}}"
                    on-change="thresholdColorChanged"></l2t-paper-color>
            </div>
        </paper-card>
        <paper-card>
            <div class="card-content">
                <h3>[[localize('comparisonValue')]]</h3>
                <paper-input label="[[localize('compareSelection')]]" on-change="selectionCompareChanged" type="text"
                    value="{{selectionCompare}}"></paper-input>
                <paper-input label="[[localize('compareCriteria')]]" on-change="criteriaCompareChanged" type="text"
                    value="{{criteriaCompare}}"></paper-input>
                <paper-input label="[[localize('compareVariable')]]" on-change="variableCompareChanged" type="text"
                    value="{{variableCompare}}"></paper-input>
                <l2t-paper-color hide-advanced label="[[localize('compareColor')]]" value="{{colorCompare}}"
                    on-change="colorCompareChanged"></l2t-paper-color>
                <paper-input label="[[localize('prefixText')]]" on-change="prefixTextChanged" type="text"
                    value="{{prefixTextCompare}}"></paper-input>
            </div>
        </paper-card>
        </div>

    </template>

    <script>
        class AbasTotalDisplayWidgetSettings extends Polymer.AbasLocalizeMixin(Polymer.Element) {
            static get is() { return 'abas-total-display-widget-settings' }
            static get properties() {
                return {
                    title: {
                        type: String,
                        notify: true
                    },
                    messageBus: {
                        type: String,
                        notify: true
                    },
                    company: {
                        type: String,
                        notify: true
                    },
                    db: {
                        type: Object,
                        notify: true,
                        observer: 'dbChanged'
                    },
                    selection: {
                        type: String,
                        notify: true
                    },
                    criteria: {
                        type: String,
                        notify: true
                    },
                    variable: {
                        type: String,
                        notify: true
                    },
                    color: {
                        type: String,
                        notify: true
                    },
                    action: {
                        type: Object,
                        observer: 'actionChanged',
                        notify: true
                    },
                    thresholdValue: {
                        type: Number, value: 0,
                        notify: true
                    },
                    thresholdColor: {
                        type: String,
                        notify: true
                    },
                    selectionCompare: {
                        type: String,
                        notify: true
                    },
                    criteriaCompare: {
                        type: String,
                        notify: true
                    },
                    variableCompare: {
                        type: String,
                        notify: true
                    },
                    colorCompare: {
                        type: String,
                        notify: true
                    },
                    prefixTextCompare: {
                        type: String, value: "",
                        notify: true
                    },
                    topBarColor: {
                        type: String,
                        value: "",
                        observer: '_topBarColorChanged',
                        notify: true
                    },
                    fallbackLanguage: {
                        value: "en"
                    },
                    target: Object
                };
            }


            /**
              * Called every time the element is inserted into the DOM. Useful for 
              * running setup code, such as fetching resources or rendering.
              * Generally, you should try to delay work until this time.
              */
            connectedCallback() {
                super.connectedCallback();
                this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));
            }

            _attrChanged(name) {
                if (!!this.target) {
                    this.target.dispatchEvent(new CustomEvent('settings-updated', {
                        bubbles: true,
                        composed: true,
                        detail: {
                            name: name,
                            value: this[name]
                        }
                    }));
                }
            }

            _topBarColorChanged() {
                this._attrChanged('topBarColor');
            }

            titleChanged() {
                this._attrChanged('title');
            }
            messageBusChanged() {
                this._attrChanged('messageBus');
            }
            companyChanged() {
                this._attrChanged('company');
            }
            dbChanged() {
                this._attrChanged('db');
            }
            selectionChanged() {
                this._attrChanged('selection');
            }
            criteriaChanged() {
                this._attrChanged('criteria');
            }
            variableChanged() {
                this._attrChanged('variable');
            }
            colorChanged() {
                this._attrChanged('color');
            }
            actionChanged() {
                this._attrChanged('action');
            }
            thresholdValueChanged() {
                this._attrChanged('thresholdValue');
            }
            thresholdColorChanged() {
                this._attrChanged('thresholdColor');
            }
            selectionCompareChanged() {
                this._attrChanged('selectionCompare');
            }
            criteriaCompareChanged() {
                this._attrChanged('criteriaCompare');
            }
            variableCompareChanged() {
                this._attrChanged('variableCompare');
            }
            colorCompareChanged() {
                this._attrChanged('colorCompare');
            }
            prefixTextChanged() {
                this._attrChanged('prefixTextCompare');
            }


        }
        customElements.define(AbasTotalDisplayWidgetSettings.is, AbasTotalDisplayWidgetSettings);
    </script>
</dom-module>