<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../aba-widget/aba-widget.html">
<link rel="import" href="../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import" href="../abas-styles/abas-styles.html">
<link rel="import" href="../abas-config/abas-config-meta.html">
<link rel="import" href="../auth0-authenticator/auth0-fetch.html">
<link rel="import" href="../abas-widget-style/abas-widget-style.html">
<link rel="import" href="./abas-total-display-widget-settings.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">


<dom-module id="abas-total-display-widget">
    <template>
        <abas-config-meta data="{{configuration}}"></abas-config-meta>

        <style is="custom-style" include="abas-widget-style">
            :host {
                width: 100%;
                font-size: 10px;
            }

            [slot="content"] {
                display: grid;
                grid-template-rows: 15% auto 15%;
                font-size: 70px;
            }

            [slot="content"].horizontal {
                grid-template-rows: 30% auto;
                grid-template-columns: 30% auto;
            }

            #displayLetter {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: 400;
                grid-row: 2;
                justify-self: center;
                align-self: center;
                transition: all 0.5s ease;
                color: green;
                font-size: 2.5em;
            }

            .horizontal>#title {
                grid-row: 1;
                grid-column: 1;
            }

            .horizontal>#displayLetter {
                grid-row: span 2;
                grid-column: 2;
            }

            .horizontal>#comparableValue {
                grid-row: 2;
                grid-column: 1;
            }

            /* Keeping this in case we need it*/

            @media screen and (min-width: 360px) and (max-width: 640px) {
                /* #displayLetter {
                    font-size: 100px;
                } */
            }

            #comparableValue {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: 100;
                /* font-size: 15px;
                font-size: -0.5vw; */
                font-size: 0.75em;
                transition: all 0.5s ease;
                color: green;
                justify-self: center;
                align-self: end;
                grid-row: 3;
                display: inline-flex;
            }

            #comparableValue>.prefix {
                margin-right: 10px;
                font-weight: 400;
            }

            .widgettitle {
                color: #2A3539;
                font-size: 90%;
                font-weight: bold;
            }

            .table {
                display: table;
                width: 100%;
            }

            .tbody {
                display: table-row-group;
            }

            .tr {
                display: table-row;
            }

            .td {
                display: table-cell;
                padding: 0px 0px;
            }

            .td:last-child {
                float: right;
            }

            hr {
                background: #1BBBA3;
                height: 1px;
            }
        </style>
        </custom-style>
        <aba-widget>
            <div slot="content" on-tap="_openAction" id="content" title="">
                <div id="title" class="title table">
                    <div class="tbody">
                        <div class="tr">
                            <div class="td">
                                <div class="widgettitle">[[title]]</div>
                            </div>
                            <div class="td">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>

                <div id="displayLetter">
                    [[displayValue]][[displayLetter]]
                </div>
                <div id="comparableValue">
                    <div class="prefix">[[prefixTextCompare]]</div>
                    <div>[[comparableValue]][[comparableLetter]] ([[deltaPercent]])</div>
                </div>
            </div>
            <div slot="settingsForm" title="">
                <abas-total-display-widget-settings target="[[mySelf]]" title="{{title}}" company="{{company}}"
                    db="{{db}}" message-bus="{{messageBus}}" selection="{{selection}}" criteria="{{criteria}}"
                    top-bar-color="{{topBarColor}}" variable="{{variable}}" color="{{color}}"
                    threshold-value="{{thresholdValue}}" threshold-color="{{thresholdColor}}"
                    selection-compare="{{selectionCompare}}" criteria-compare="{{criteriaCompare}}"
                    variable-compare="{{variableCompare}}" color-compare="{{colorCompare}}"
                    prefix-text-compare="{{prefixTextCompare}}" action="{{action}}">
                </abas-total-display-widget-settings>
            </div>
            <div slot="optionsMenu">
                <!-- Additonal settings menu items -->
            </div>
        </aba-widget>
    </template>

    <script>
        class AbasTotalDisplayWidget extends ABAS.WidgetBehavior(Polymer.Element) {
            static get is() { return 'abas-total-display-widget' }
            static get properties() {
                return {
                    title: {
                        type: String,
                    },
                    messageBus: {
                        type: String,
                        observer: '_messageBusChanged'
                    },
                    company: {
                        type: String,
                    },
                    db: {
                        type: Object,
                    },
                    selection: {
                        type: String,
                    },
                    criteria: {
                        type: String,
                    },
                    variable: {
                        type: String,
                    },
                    color: {
                        type: String,
                    },
                    action: {
                        type: Object
                    },
                    thresholdValue: {
                        type: Number, value: 0,
                    },
                    thresholdColor: {
                        type: String,
                    },
                    selectionCompare: {
                        type: String,
                    },
                    criteriaCompare: {
                        type: String,
                    },
                    variableCompare: {
                        type: String,
                    },
                    colorCompare: {
                        type: String,
                    },
                    prefixTextCompare: {
                        type: String, value: "",
                    },
                    topBarColor: {
                        type: String,
                        value: "",
                    },
                    displayValue: {
                        type: String,
                        value: "0",
                        observer: '_displayValueChanged'
                    },
                    displayLetter: { type: String, value: "" },
                    comparableValue: { type: String, value: "" },
                    comparableLetter: { type: String, value: "" },
                    deltaPercent: { type: String, value: "" },
                    value: {
                        type: Number,
                        value: 0,
                        observer: '_calculateDelta'
                    },
                    valueCompare: {
                        type: Number,
                        value: 0,
                        observer: '_calculateDelta'
                    },
                    fallbackLanguage: {
                        value: "en"
                    },
                    mySelf: {
                        type: Object
                    }
                };
            }


            /**
              * Called every time the element is inserted into the DOM. Useful for 
              * running setup code, such as fetching resources or rendering.
              * Generally, you should try to delay work until this time.
              */
            connectedCallback() {
                super.connectedCallback();
                this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));

                this.mySelf = this;

                this.addEventListener('settings-updated', (e) => {
                    this.fireAttributesUpdate([e.detail]);
                    // ensure we have the latest values
                    this[e.detail.name] = e.detail.value;
                    switch (e.detail.name) {
                        case "company":
                        case "db":
                        case "selection":
                        case "criteria":
                        case "variable":
                        case "selectionCompare":
                        case "criteriaCompare":
                        case "variableCompare":
                            this._getData();
                            break;
                        case "topBarColor":
                            this.updateStyles({ '--widget-top-border-color': e.detail.value });
                            break;
                        case "color":
                        case "thresholdValue":
                        case "thresholdColor":
                        case "colorCompare":
                            this._style();
                            break;
                        default:
                            break;
                    }
                });

                PrismEventBus.register(this, [this.messageBus]);
                this.addEventListener(this.messageBus, e => {
                    this.objectID = e.detail.id;
                    this._getData();
                });

                let that = this;
                window.addEventListener('resize', e => {
                    that._debouncer = Polymer.Debouncer.debounce(
                        that._debouncer,
                        Polymer.Async.timeOut.after(500),
                        () => {
                            that._resized();
                        });
                });

                this._getData();
                this._style();
                Polymer.RenderStatus.afterNextRender(this, () => {
                    this._resized();
                });

            }

            _registerListener(newValue, oldValue, cb) {
                if (!!oldValue) {
                    PrismEventBus.unregister(this, [oldValue]);
                    this.removeEventListener(oldValue, cb);
                }
                if (!!newValue) {
                    PrismEventBus.register(this, [newValue]);
                    this.addEventListener(newValue, cb);
                }
            }

            _messageBusChanged(newValue, oldValue) {
                this._registerListener(newValue, oldValue, e => {
                    this.objectID = e.detail.id;
                    this._getData();
                });
            }

            setScaledFont(content, f) {
                var s = content.getBoundingClientRect().width,
                    fs = s * f;
                content.style.fontSize = fs + '%';
            }

            _resized() {
                if (this.height == 1 && this.width > 2) {
                    this.$.content.classList.toggle("horizontal", true);
                    this.setScaledFont(this.$.content, 0.45);
                } else if (this.height == 1 && this.width == 2) {
                    this.setScaledFont(this.$.content, 0.7);
                    this.$.content.classList.toggle("horizontal", false);
                } else {
                    this.setScaledFont(this.$.content, 0.8);
                    this.$.content.classList.toggle("horizontal", false);
                }
            }

            _calculateDelta() {
                if (this.valueCompare != 0) {
                    this.deltaPercent = `${this.value > this.valueCompare ? "+" : ""}${(((this.value - this.valueCompare) / this.valueCompare) * 100).toFixed(2)}%`;
                } else {
                    this.deltaPercent = " -- ";
                }
            }

            _style() {
                this.$.displayLetter.style.color = this.color;
                this.$.comparableValue.style.color = this.colorCompare;
                if (this.thresholdValue <= this.value) {
                    this.$.displayLetter.style.color = this.thresholdColor;
                }
            }

            _getData() {
                if (!!this._getDataDebouncer && this._getDataDebouncer.isActive()) {
                    this._getDataDebouncer.cancel();
                }
                this._getDataDebouncer = Polymer.Debouncer.debounce(this._getDataDebouncer, Polymer.Async.timeOut.after(200), () => {
                    this._queryAbas(this.selection, this.criteria, this.variable, 'displayValue', 'displayLetter', 'value');
                    this._queryAbas(this.selectionCompare, this.criteriaCompare, this.variableCompare, 'comparableValue', 'comparableLetter', 'valueCompare');

                    if (this.hasOwnProperty('localize')) {
                        this.comparableValue = `${this.localize('loading')}...`;
                    }
                });
            }

            _queryAbas(selection, criteria, variable, displayValue, displayLetter, value) {

                if (!this.company || !this.db) {
                    return;
                }

                selection = selection ? selection : '';
                if (criteria && this.objectID) {
                    selection += `;${criteria}=${this.objectID}`;
                }
                const _baseURL = `${this.configuration.api.erpBaseURL}/mw/r/${this.company}`;
                const params = new URLSearchParams();
                params.append('headFields', [variable].join(','));
                params.append('tableFields', '-');
                params.append('criteria', selection);

                // console.log(this.bars[i]);

                auth0Fetch(`${_baseURL}/obj/data/${this.db.tableSpec}?${params}`, {
                    headers: new Headers({
                        'accept': 'application/abas.objects+json',
                    })
                }).then((resp) => {
                    if (resp.status === 200) {
                        return resp.json();
                    }
                    throw new Error(`This ain't working. Request to middleware failed.`)
                }).then((mwResponse) => {
                    let erpObjects = _.get(mwResponse, 'content.data.erpDataObjects');
                    if (!erpObjects) {
                        console.log('middleware response is not as expected');
                        return
                    }
                    // console.log(erpObjects);

                    let sum = 0;
                    erpObjects.forEach(e => {
                        sum += _.get(e, `head.fields.${variable}.value`);
                    });
                    this.set(value, sum);

                    let formatObject = this._nFormatter(sum, 1);

                    this.set(displayValue, formatObject.value);
                    this[displayLetter] = formatObject.letter;

                });
            }

            _displayValueChanged() {
                this._style();
            }

            _openAction() {
                if (!!this.actionURL) {
                    let baseCmd = `${this.actionURL}`
                    let cmd = "";

                    let link = document.createElement("a");
                    link.setAttribute('target', '_blank');

                    cmd = `${baseCmd}`;

                    link.setAttribute('href', `/erp/?type=cmd&cmd=${encodeURIComponent(cmd)}&mandant=${this.company}`);
                    link.click();
                }
            }


            _nFormatter(num, digits) {
                var si = [
                    { value: 1, symbol: "" },
                    { value: 1E3, symbol: "k" },
                    { value: 1E6, symbol: "M" },
                    { value: 1E9, symbol: "G" },
                    { value: 1E12, symbol: "T" },
                    { value: 1E15, symbol: "P" },
                    { value: 1E18, symbol: "E" }
                ];
                var rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
                var i;
                for (i = si.length - 1; i > 0; i--) {
                    if (num >= si[i].value) {
                        break;
                    }
                }
                return {
                    value: (num / si[i].value).toFixed(digits).replace(rx, "$1"),
                    letter: si[i].symbol
                };
            }

        }
        customElements.define(AbasTotalDisplayWidget.is, AbasTotalDisplayWidget);
    </script>
</dom-module>